@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: #fff;
  outline: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #212121;

  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
}

.active {
  background-color: #616161;
  color: #fff !important;
  border-right: 5px solid red;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.modal-dialog {
  border-radius: 0;
}

.modal-content {
  border-radius: 10px;
  /* border: 1px solid #616161; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 2rem;
  cursor: pointer;
}

ul {
  padding-left: 0;
}
