@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: #fff;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #212121;

  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  height: 100%;
}

.active {
  background-color: #616161;
  color: #fff !important;
  border-right: 5px solid red;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}
